.coin-box{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.coin-container{
    cursor: pointer;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: row;
    padding: 15px 20px;
    box-sizing: border-box;
    background-color: #505069;
    border-radius: 3px;
    justify-content: space-between;
    width: clamp(350px, 35vw, 350px);
    color: white;
    box-shadow: 2px 2px 5px #3933486f;
    align-items: center;
    transition: 0.1s;
}

.coin-container:hover{
    transform: scaleY(1.05);
    background-color: #5c5c78;
}
.coin-name-logo-container{
    display: flex;
    flex-direction: row;
    gap: 1.5vw;
    align-items: center;
}

.coin-container-column-container{
    display: flex;
    flex-direction: column;
    gap: 3px;
}

.coin-container-column-container> h2{
    font-size: 1rem;
    font-weight: 600;
    color: #dcddf8;
}
.coin-name-logo-container > img{
    padding: 3px;
    width: clamp(20px, 3vw, 80px);
    height: fit-content;
    background-color: #656585;
    border-radius: 3px;
    outline-width: 2px;
    outline-color: #777798;
    outline-style: solid;
}
.coin-value-growth-row-container > p{
    color: #BABCE2;
}
.coin-value-growth-row-container > p::before{
    font-size: 1.1rem;
    color: #dcddf8;
    content: "$";
}

.coin-value-growth-row-container{
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
}

.coin-growth{
    background-color: #a8a8a86f;
    color: #ffffff;
    padding: 5px 8px;
    border-radius: 15px;
    font-size: 0.8rem;
}

.positive-growth{
    background-color: #45a963b3;
    color: #99fcb7;
}
.negative-growth{
    background-color: #a94545b3;
    color: #fc9999;
}

.coin-container-column-container{
    display: flex;
    flex-direction: column;
}

.favorite-button{
    width: 12px;
    height: 12px;
    background-color: gold;
    border-radius: 0.1vw;
    border-style: none;
    transform: rotate(45deg);
    cursor: pointer;
    transition: 0.5s;
}

.favorite-button:hover{
    background-color: goldenrod;
    scale: 1.1;
    transform: rotate(135deg);
}